@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity;

@model IEnumerable<ShopDrop.Models.Product>

@{
    ViewBag.Title = "Index";
}


<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../Content/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/style.css" type="text/css">
</head>


<div class="container" style="margin-top: 50px">

    <div class="hero__search__form">
        <form action="#">
            <input type="text" placeholder="Search..." id="search_holder" style="margin-left: 200px;" class="form-control">
            <div class="select__option" style="margin-left: 10px;">
                <select class="form-control" id="selected_category">
                    <option value="All" name="None">All</option>
                    <option value="Technology" name="Technology">Technology</option>
                    <option value="Beauty Products" name="Beauty Products">Beauty Products</option>
                    <option value="Food" name="Food">Food</option>
                    <option value="Automobile" name="Automobile">Automobile</option>
                    <option value="Household" name="Household">Household</option>

                </select>
            </div>
            <a class="btn btn-danger btn-lg" href="/Products/Index" style="margin-left: 10px;" id="search_link" onclick="myFunction()">Search Now</a>

        </form>
    </div>

    <br />
    <br />


    @if (Request.IsAuthenticated)
    {
        <button class="btn btn-primary" style="float: right">
            @Html.ActionLink("Create new product", "Create", null, new { @style = "color: white;" })
        </button>
    }
    <br />
    <br />
    <br />
    <br />
    <table class="table" id="ads_table">

        
            @foreach (var item in Model)
            {
                if (@item.selller_id != User.Identity.GetUserId())
                {
                
                    <div class="row">
                        <div class="col-md-4">
                            <img src='~/UserImages/@item.Image' style="max-width: 450px; max-height: 250px" />
                        </div>
                        <div class="col-md-4">
                            <div class="row" style="font-size: 15px">
                                <a href="/Products/Details/@item.Id" style="color: black">@item.Name</a>
                            </div>
                            <div class="row">
                                <br/>
                                <span style="font-size: 20px"><b>@item.Price</b></span>
                                <span>$</span>
                            </div>
                            <div class="row">
                                <br/>
                                Posted on: <p>@item.date_posted</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="/Products/Details/@item.Id" class="btn btn-danger" style="float: right">Details</a>
                        </div>
                    </div>
                    <hr/>

                }
            }
        

    </table>

</div>





@section Scripts {



    <script src="../../Content/js/jquery.barfiller.js"></script>
    <script src="../../Content/js/jquery.magnific-popup.min.js"></script>
    <script src="../../Content/js/jquery.slicknav.js"></script>
    <script src="../../Content/js/owl.carousel.min.js"></script>
    <script src="../../Content/js/main.js"></script>

    <script>
        //var tabela = $("#ads_table").DataTable({ searching: false, info: false});

        function myFunction() {

            var sel_category = document.getElementById('selected_category');
            var search_text = document.getElementById('search_holder');


            console.log(sel_category);
            document.getElementById('search_link').href = "/Products/ListByCategoryAndSearch?Category=" + sel_category.value + "&text=" + search_text.value;

        }

    </script>
}