@model IEnumerable<ShopDrop.Models.Product>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ShowMyProducts";
}

<style>
    .hero__search__form form .select__option .nice-select {
        border-radius: 10px !important;
        border: 1px solid lightblue !important;
        justify-content: center;
        align-items: center;
        position: center;
        line-height: 40px !important;
    }
</style>

<section class="hero set-bg" data-setbg="../../Content/img/light4.jpg">
    <div class="container" style="margin-top: -200px !important;
    ">

        <div class="hero__search__form">
            <form action="#">
                <input type="text" placeholder="Search..." id="search_holder" style="margin-left: 200px; border: 1px solid black;" class="form-control">
                <div class="select__option" style="margin-left: 10px;">
                    <select class="form-control align-items-center justify-content-center" id="selected_category">
                        <option value="All" name="None">All</option>
                        <option value="Vehicles" name="Vehicles">Vehicles</option>
                        <option value="Real Estate" name="RealEstate">Real Estate</option>
                        <option value="Home and Garden" name="Home and Garden">Home and Garden</option>
                        <option value="Technology" name="Technology">Technology</option>
                        <option value="Sport Equipment" name="Sport Equipment">Sport Equipment</option>
                        <option value="Clothing, Footwear, Jewelry" name="Clothing, Footwear, Jewelry">Clothing, Footwear, Jewelry</option>
                        <option value="Books and Literature" name="Books and Literature">Books and Literature</option>
                        <option value="Health and Beauty" name="Health and Beauty">Health and Beauty</option>
                        <option value="Machnies and Tools" name="Machines and Tools">Machines and Tools</option>
                        <option value="Food and Cooking" name="Food and Cooking">Food and Cooking</option>
                        <option value="Other" name="Other">Other</option>

                    </select>
                </div>
                <a class="btn btn-danger btn-lg" href="/Products/ShowMyProducts" style="margin-left: 10px;" id="search_link" onclick="myFunction()">Search Now</a>

            </form>
        </div>
        @if (Request.IsAuthenticated)
        {
            <button class="btn btn-primary" style="float: right; font-size: 20px;">
                @Html.ActionLink("Create new product", "Create", null, new { @style = "color: white;" })
            </button>
        }
        <br />
        <br />
        <br />
        <br />
        <table class="table" id="ads_table">

            @foreach (var item in Model)
            {
                if (@item.selller_id == User.Identity.GetUserId())
                {

                    <div class="row">
                        <div class="col-md-4">
                            <img src='~/UserImages/@item.Image' style="max-width: 310px; max-height: 200px" />
                        </div>
                        <div class="col-md-4">
                            <div class="row" style="font-size: 15px">
                                <a href="/Products/Details/@item.Id" style="color: black">@item.Name</a>
                            </div>
                            <div class="row">
                                <br />
                                <span style="font-size: 20px"><b>@item.Price</b></span>
                                <span>$</span>
                            </div>
                            <div class="row">
                                <br />
                                Posted on: <p>@item.date_posted</p>
                            </div>
                            <div class="row">
                                @if (@item.Quantity == 0)
                                {
                                    <p style="font-size: 25px; color: red;">Sold!</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="/Products/Details/@item.Id" class="btn btn-success" style="float: right; width: 75px;">Details</a>
                        </div>
                        <div class="col-md-4" style="margin-top: 5px;">
                            <a href="/Products/Delete/@item.Id" class="btn btn-danger" style="float: right; width: 75px;">Delete</a>
                        </div>
                        <div class="col-md-4" style="margin-top: 5px;">
                            <a href="/Products/Edit/@item.Id" class="btn btn-primary" style="float: right; width: 75px;">Edit</a>
                        </div>
                    </div>
                    <hr style="border: 0.5px solid black;" />
                }
            }

        </table>
    </div>
</section>

@section Scripts {

    <script>
        function myFunction() {

            var sel_category = document.getElementById('selected_category');
            var search_text = document.getElementById('search_holder');

            console.log(sel_category);
            document.getElementById('search_link').href = "/Products/ListByCategoryAndSearchMyProducts?Category=" + sel_category.value + "&text=" + search_text.value;
        }
    </script>
}