@model IEnumerable<ShopDrop.Models.Product>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ShowMyProducts";
}


    <div class="container" style="margin-top: 50px">

        <div class="hero__search__form">
            <form action="#">
                <input type="text" placeholder="Search..." id="search_holder" style="margin-left: 200px;" class="form-control">
                <div class="select__option" style="margin-left: 10px;">
                    <select class="form-control" id="selected_category">
                        <option value="All" name="None">All</option>
                        <option value="Technology" name="Technology">Technology</option>
                        <option value="Beauty Products" name="Beauty Products">Beauty Products</option>
                        <option value="Food" name="Food">Food</option>
                        <option value="Automobile" name="Automobile">Automobile</option>
                        <option value="Household" name="Household">Household</option>

                    </select>
                </div>
                <a class="btn btn-danger btn-lg" href="/Products/Index" style="margin-left: 10px;" id="search_link" onclick="myFunction()">Search Now</a>

            </form>
        </div>

        @if (Request.IsAuthenticated)
        {
            <button class="btn btn-primary" style="float: right">
                @Html.ActionLink("Create new product", "Create", null, new { @style = "color: white;" })
            </button>
        }
        <table class="table" id="tabela">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date_posted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.selller_id)
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (@item.selller_id == User.Identity.GetUserId())
                    {
                        <tr class="mt-2">
                            <td>
                                <a href="/Products/Details/@item.Id">@item.Name</a>
                            </td>
                            <td style="width: 30%">
                                @*<img src="@item.Image" style="max-width: 450px; max-height: 250px" />*@
                                <img src='~/UserImages/@item.Image' style="max-width: 450px; max-height: 250px" />
                            </td>
                            <td style="width: 50%; padding-top: 20px">
                                <span style="font-size: 20px">@item.Price</span>
                                <span>$</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date_posted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sellerName)
                            </td>
                            <td style="width: 20%; padding-top: 20px; padding-left: 30px">
                                <button class="btn btn-light">
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </button>
                                <button class="btn btn-danger">
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = "color:black" })
                                </button>
                                <button class="btn btn-primary">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @style = "color:white" })
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
        @section Scripts {

            <script>
                var tabela = $("#tabela").DataTable({ searching: false, info: false });
                        //var category = $("#select_category");
                        //$("#search_button").click(function () {
                        //  console.log("test");
                        //});
            </script>


        }
