@using ShopDrop.Models
@model ShopDrop.Models.Product

@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../Content/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/style.css" type="text/css">
</head>

<style>
    .hero__search__form form .select__option .nice-select {
        border-radius: 10px !important;
        border: 1px solid lightblue !important;
        justify-content: center;
        align-items: center;
        position: center;
        line-height: 40px !important;
    }
</style>

<body>

        <section class="hero set-bg" data-setbg="../../Content/img/background99.jpg" style="height: 1000px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero__text">
                            <div class="section-title">

                                <h2>Find everything you are looking for!</h2>
                                <p style="color: black;">951 543 people shopping here</p>
                            </div>
                            <div class="hero__search__form">
                                <form action="#">
                                    <input type="text" placeholder="Search..." id="search_holder" style="margin-left: 200px; border: 1px solid black;" class="form-control">
                                    <div class="select__option" style="margin-left: 10px;">
                                        <select class="form-control align-items-center justify-content-center" id="selected_category">
                                            <option value="All" name="None">All</option>
                                            <option value="Vehicles" name="Vehicles">Vehicles</option>
                                            <option value="Real Estate" name="RealEstate">Real Estate</option>
                                            <option value="Home and Garden" name="Home and Garden">Home and Garden</option>
                                            <option value="Technology" name="Technology">Technology</option>
                                            <option value="Sport Equipment" name="Sport Equipment">Sport Equipment</option>
                                            <option value="Watches and Jewelry" name="Watches and Jewelry">Watches and Jewelry</option>
                                            <option value="Books and Literature" name="Books and Literature">Books and Literature</option>
                                            <option value="Health and Beauty" name="Health and Beauty">Health and Beauty</option>
                                            <option value="Machnies and Tools" name="Machines and Tools">Machines and Tools</option>
                                            <option value="Food and Cooking" name="Food and Cooking">Food and Cooking</option>
                                            <option value="Other" name="Other">Other</option>

                                        </select>
                                    </div>

                                    <a class="btn btn-danger btn-lg" href="/Products/Index" style="margin-left: 10px;" id="search_link" onclick="myFunction()">Search Now</a>

                                </form>
                            </div>
                            <ul class="hero__categories__tags">
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Vehicles"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/vehicles.jpg" style="width: 23px; height: 21px;" alt="">Vehicles</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Real Estate"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/realestate.jpg" style="width: 23px; height: 21px;" alt="">Real Estate</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Home and Garden"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/home.png" style="width: 23px; height: 21px;" alt="">Home and Garden</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Technology"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/tech.jpg" style="width: 23px; height: 21px;" alt="">Technology</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Sport Equipment"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/sport.jpg" style="width: 23px; height: 21px;" alt="">Sport Equipment</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Watches and Jewelry"},null) "style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/watch.jpg" style="width: 23px; height: 21px;" alt="">Watches and Jewelry</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Books and Literature"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/books.jpg" style="width: 23px; height: 21px;" alt="">Books and Literature</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Health and Beauty"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/healt.jpg" style="width: 23px; height: 21px;" alt="">Health and Beauty</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Machines and Tools"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/machines.jpg" style="width: 23px; height: 21px;" alt="">Machines and Tools</a></li>
                                <li><a href="@Url.Action("ListByCategory","Products",new { Category="Food and Cooking"},null)" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/food.png" style="width: 23px; height: 21px;" alt="">Food and Cooking</a></li>
                                <li><a href="@Url.Action("Index","Products")" style="background-color: whitesmoke; color: black;"><img src="../../Content/img/hero/hero-bg.jpg" style="width: 23px; height: 21px;" alt=""> All Categories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script src="../../Content/js/jquery.barfiller.js"></script>
        <script src="../../Content/js/jquery.magnific-popup.min.js"></script>
        <script src="../../Content/js/jquery.slicknav.js"></script>
        <script src="../../Content/js/owl.carousel.min.js"></script>
        <script src="../../Content/js/main.js"></script>
        <script>

            function myFunction() {

                var sel_category = document.getElementById('selected_category');
                var search_text = document.getElementById('search_holder');

                
                console.log(sel_category);
                document.getElementById('search_link').href = "/Products/ListByCategoryAndSearch?Category=" + sel_category.value + "&text=" + search_text.value;
                
            }


        </script>
    </body>