@model ShopDrop.Models.Product

@{
    ViewBag.Title = "New Order";
}

<h2>New Order for item @Model.Name</h2>


@using (Html.BeginForm("NewOrder", "Purchases", FormMethod.Post, new { productId = Model.Id})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        <div class="col-4" style="max-height: 400px;max-width: 400px">
            <img src='~/UserImages/@Model.Image' />
        </div>
        <input type="hidden" name="productId" value="@Model.Id" />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">\
            @Model.Name
            </div>
        </div>

    </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.Price</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <span>(max: @Model.Quantity)</span>
            <div class="col-md-10">
                <div class="col-md-10">
                    <input type="number" name="quantity" min="0" max="@Model.Quantity" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.category
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date_posted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.date_posted
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sellerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.sellerName
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="NewOrder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Item", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
