@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="../../Content/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../Content/css/style.css" type="text/css">
</head>

<style>
    .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
        
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
</style>
<body>
    <div class="navbar navbar-fixed-top" style="background-color: #131921;height: 70px;">

        <div class="navbar-brand">
            <span class="navbar-logo">
                <a>
                    <img src="~/Content/img/logo2.png" title="" media-simple="true" style="height: 3.8rem;">
                </a>
            </span>
            <span class="navbar-caption-wrap">
                <a class="navbar-caption text-white" href="/" style="color: #FE525B;font-size: 20px">
                    ShopDrop
                </a>
            </span>
        </div>


        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding-top: 10px; ">
                    <li>
                        <a class="btn btn-outline-light" href="/Products/Index" style="color: white;font-size: 15px;">
                            <b>All products</b>
                        </a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a class="btn btn-outline-light" href="/Products/ShowMyProducts" style="color: white; font-size: 15px;">
                                <b>My products</b>
                            </a>
                        </li>
                    }
                    <li>
                        <a class="btn btn-secondary" href="/Products/Create" style="color: white;font-size: 15px">
                            <b>Add new product</b>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Orders", "Orders", "Purchases", new { id = User.Identity.GetUserId() }, new { @style = "margin-top:10px;" })</li>
                    }
                <li>@Html.Partial("_LoginPartial")</li>
                </ul>
               
                

            </div>
        </div>
    </div>


    <div>
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">
                        ShopDrop is an online shop where users can buy and sold products.
                    </p>
                    <p>Each user:</p>
                    <ul>
                        <li>Has their own balance, list of all products and list of their products</li>
                        <li>Can be a Buyer, Seller or both.</li>
                        <li>Can list all active ads(products) by category.</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="~/Products/ListByCategory?Category=Vehicles">Vehicles</a></li>
                        <li><a href="~/Products/ListByCategory?Category=Real%20Estate">Real Estate</a></li>
                        <li><a href="~/Products/ListByCategory?Category=Home%20and%20Garden">Home and Garden</a></li>
                        <li><a href="~/Products/ListByCategory?Category=Technology">Technology</a></li>
                        <li><a href="~/Products/ListByCategory?Category=Sport%20Equipment">Sport Equipment</a></li>
                        <li><a href="~/Products/ListByCategory?Category=Watches%20and%20Jewelry">Watches and Jewelry</a></li>
                        <li><a href="~/Products/ListByCategory?Category=Food%20and%20Cooking">Food and Cooking</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>About us</h6>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fab fa icon_phone"></i> Phone: 425-555-0100</li>
                        <li><a href="#"><i class="fab fa icon_mail"></i> Mail: shopdrop@mail.com</a></li>
                        <li><a href="#"><i class="fab  fa fa-facebook"></i> Facebook: ShopDrop</a></li>
                        <li><a href="#"><i class="fab fa social_instagram"></i> Instagram: ShopDrop</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2017 All Rights Reserved by
                        <a href="#">ShopDrop</a>.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)


    <script src="../../Content/js/jquery-3.3.1.min.js"></script>
    <script src="../../Content/js/bootstrap.min.js"></script>
    <script src="../../Content/js/jquery.nice-select.min.js"></script>
    <script src="../../Content/js/jquery-ui.min.js"></script>
    <script src="../../Content/js/jquery.nicescroll.min.js"></script>
    <script src="../../Content/js/bootstrap.min.js"></script>
    <script src="../../Content/js/jquery.barfiller.js"></script>
    <script src="../../Content/js/jquery.magnific-popup.min.js"></script>
    <script src="../../Content/js/jquery.slicknav.js"></script>
    <script src="../../Content/js/owl.carousel.min.js"></script>
    <script src="../../Content/js/main.js"></script>
</body>
</html>
